set timeout=5
set default=0

insmod vbe
insmod multiboot2
set gfxmode=1024x768x32
terminal_output gfxterm

menuentry "HillsonOS Desktop" {
    multiboot2 /boot/kernel.bin
    module2 /boot/desktop.elf
    boot
}

menuentry "My OS - Text Mode Test" {
    multiboot2 /boot/kernel.bin
    module2 /boot/text_test.elf
    boot
}

menuentry "My OS - File System Test" {
    multiboot2 /boot/kernel.bin
    module2 /boot/fs_test.elf
    boot
}

menuentry "My OS - Network Shell (Interactive)" {
    multiboot2 /boot/kernel.bin
    module2 /boot/net_shell.elf
    boot
}

menuentry "My OS - GUI Shell (Graphics)" {
    multiboot2 /boot/kernel.bin
    module2 /boot/gui_shell.elf
    boot
}

menuentry "My OS - LVGL Graphics Test" {
    multiboot2 /boot/kernel.bin
    module2 /boot/lvgl_test.elf
    boot
}

menuentry "My OS - LVGL + Network Test (Video Player)" {
    multiboot2 /boot/kernel.bin
    module2 /boot/lvglanet.elf
    boot
}

menuentry "My OS - Simple Keyboard Test" {
    multiboot2 /boot/kernel.bin
    module2 /boot/simple_keyboard.elf
    boot
}

menuentry "My OS - Framebuffer Raw Test" {
    multiboot2 /boot/kernel.bin
    module2 /boot/fb_test.elf
    boot
}

menuentry "My OS - Text Editor (Interactive)" {
    multiboot2 /boot/kernel.bin
    module2 /boot/editor_test.elf
    boot
}

menuentry "My OS - GUI Framebuffer Test" {
    multiboot2 /boot/kernel.bin
    module2 /boot/gui_test.elf
    boot
}

menuentry "My OS - C++ Signal/Slot Test" {
    multiboot2 /boot/kernel.bin
    module2 /boot/sigslot_test.elf
    boot
}

menuentry "My OS - C++ Runtime Test" {
    multiboot2 /boot/kernel.bin
    module2 /boot/cpp_test.elf
    boot
}

menuentry "My OS - System Call Test" {
    multiboot2 /boot/kernel.bin
    module2 /boot/syscall_test.elf
    boot
}


